body {
  background-color: rgb(158, 157, 157);
  font-family: Helvetica, Arial, sans-serif;
  color: rgb(255, 255, 255);
  background-image: url(https://cdn.wallpapersafari.com/36/8/RmU0Au.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  animation: change 20s infinite ease-in-out 5s;
}

.App {
  display:flex;
  flex-direction: column;
  align-items: center;
}

.basketBanner {
  height:50px;
  width:100%;
  display: flex;
  justify-content: flex-end;
}

.basketIcon {
  max-height: 100%;
}

.basketButton {
  border-style:none;
  height: 8%;
  /* background-color: white; */
  cursor: pointer;
  position: fixed;
}

.catList {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width:50%;
}

.catItem {
  background-color: rgb(0, 0, 0, 0.6);
  display: flex;
  flex-direction: row;
  width:100%;
  margin:30px 0 30px 0;
  padding:30px 0 30px 0;
  border-style: solid;
  border-width: 0 0 1px 0;
  border-radius: 10px;
}

.catPic {
  max-width: 300px;
  max-height: 300px;
  margin:30px;
}

.catItemInner {
  display: flex;
  flex-direction: column;
  padding: 3%;
  
}

.catInfo {

}

.catButton, .catButtonBTT {
  background-color: rgba(228, 212, 190, 0.932);
  padding: 15px;
  border: 2px solid rgb(194, 121, 26);
  transition-duration: 1.5;
  box-shadow: 2px 2px rgb(221, 190, 16);
  margin: 15% 0 6% 0;
}
.catButtonBTT:hover, .catButton:hover {
  background-color: rgba(0, 0, 0, 0.842);
  color: rgb(255, 255, 255);
  border: 2px solid rgb(253, 32, 3);
  cursor: pointer;
}
.catButtonBTT:active, .catButton:active {
  transform: translateY(2px);
  background-color: rgba(32, 32, 32, 0.753);
}

.catButtonBTT {
  margin: 2% 0 2% 1%;
}

.basketCount {
  color: orange;
  font-size: 30px;
  font-weight: 700;
  /* background-color: rgb(255, 255, 255, 0.7); */
}

@keyframes change {
  0% {
    background-image: url(https://cutewallpaper.org/22/cats-spring-wallpapers/6778014.jpg);
  }
  20% {
    background-image: url(https://cdn.wallpapersafari.com/36/8/RmU0Au.jpg);
  }
  40% {
    background-image: url(https://cache.desktopnexus.com/thumbseg/448/448922-bigthumbnail.jpg);
  }
  60% {
    background-image: url(https://cdn.99images.com/photos/wallpapers/animals-birds/cute-cat%20android-iphone-desktop-hd-backgrounds-wallpapers-1080p-4k-3wjjo.jpg);
  }
  80% {
    background-image: url(https://cdn.wallpapersafari.com/7/98/heQkrg.jpg);
  }
  100% {
    background-image: url(https://c4.wallpaperflare.com/wallpaper/7/193/231/summer-cats-sunshine-wallpaper-preview.jpg);
  }
}